<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container >
        <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                     (closed)="events.push('close!')">
               <button  mat-button routerLink="/home" >Inicio</button>
               <button mat-button routerLink="/login">Iniciar Sesión</button>
               <button mat-button routerLink="/register-account">Registrar Usuario</button>
               <button mat-button routerLink="/ficha-donante" >Conviertete en un donante</button>
               <button mat-button routerLink="/buscar">Buscar Avisos</button>
               <button mat-button routerLink="/mis-avisos">Mis Avisos</button>
               <button mat-button (click)="Logout()">CerrarSesión</button>
               
        </mat-sidenav>
        <mat-sidenav-content>
            <button  mat-icon-button color="accent" (click)="sidenav.toggle()"> 
                <mat-icon>reorder</mat-icon>
            </button>
            <div>
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
        
</mat-sidenav-container>


